/*----------------------------- datepicker styles -------------------------*/
.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
    color: #fff !important;
    background: url('../images/circle.svg') no-repeat center;
    background-size: 29px;
    font-weight: bold !important;
}
.datepicker-container {
    border-radius: 10px;
}

.datepicker-top-left::before, .datepicker-top-right::before {
    border-bottom-color: #e30613 !important;
    top: -7px !important;
}

.datepicker-top-left, .datepicker-top-right {
    border-top: 2px solid #e30613 !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.datepicker-panel > u {
    margin: 0;
    padding: 0px 10px;
    width: 102%;
}

.datepicker-panel > ul[data-view="week"] {
    margin: 0;
    padding: 0px 10px;
    width: 102%;
}

.datepicker-panel > ul[data-view="days"] {
    margin: 0;
    padding: 0px 10px 10px;
    width: 102%;
}

.datepicker-panel > ul[data-view="days"] li:first-child {
    border-radius: 10px 0 0 0;
}

.datepicker-panel > ul[data-view="days"] li:nth-child(7) {
    border-radius: 0 10px 0 0;
}

.datepicker-panel > ul[data-view="days"] li:last-child {
    border-radius: 0 0 10px 0;
}

.datepicker-panel > ul[data-view="days"] li:nth-last-child(7) {
    border-radius: 0 0 0 10px;
}

.datepicker-panel ul[data-view="days"] li:hover {
    background-color: rgb(229, 242, 255) !important;
}

.datepicker-panel ul:first-child li {
    font-size: 18px !important;
    color: #000000 !important;
    font-weight: 600;
}
.datepicker-panel ul:first-child {
    margin: 6px 0px;
}

.datepicker-panel ul[data-view="days"] li {
    background-color: #fff !important;
    height: 40px !important;
    padding: 8px 0px !important;
    width: 40px !important;
    border: 1px solid #DFDFDF !important;
    box-sizing: border-box !important;
    color: #171E24 !important;
}

.datepicker-panel ul[data-view="days"] li.picked {
    color: #ffffff !important;
}

.datepicker-panel ul[data-view="week"] li {
    background-color: #fff !important;
    height: 40px !important;
    padding: 8px 0px !important;
    width: 40px !important;
    color: #777777 !important;
}

.datepicker-panel > ul > li.muted, .datepicker-panel > ul > li.muted {
    color: #171E24 !important;
    background: #FAFAFA !important;
}

.datepicker-container {
    width: 300px !important;
}
