/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body
{
    width: 750px;
    margin: 0 auto;
}

table
{
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
}

thead
{
    background-color: yellow;
}

th, td
{
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.right
{
    text-align: right;
    /*background-color : yellow;*/
}

tbody tr:nth-child(even) td
{
    background-color: yellow;
}

tbody tr:nth-child(4) td:first-child, tbody tr:nth-child(6) td:first-child
{
    background-color: white;
}

tbody tr:last-child
{
    background-color: yellow;
    font-weight: bold;
}

/*.bg-white {*/
/*    background: white !important;*/
/*}*/

/*tfoot {*/
/*    background-color: yellow;*/
/*    font-weight: bold;*/
/*}*/
