h2 {
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: #263170;
}

form {
    margin: 100px auto;
    width: 600px;
}

label {
    float: left;
    width: 240px;
    font-weight: bold;
}

input {
    margin: 0px 5px 15px;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input[type=submit] {
    margin-right: 115px;
}

input:last-child {
    margin-left: 10px;
}

.fields {
    margin: 30px 10px;
}


