* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px;
}

img {
    position: relative;
    cursor: pointer;
    outline: none;
    left: 80px;
    top: 20px;
}

