body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px 5px 50px;
    font-size: 3rem;
    font-family: Inter, sans-serif;
    color: #2d3748 !important;
}

p {
    font-size: 1.25rem;
}

.container {
    width: 50%;
    margin: 50px 25%;
    padding: 10px 30px 50px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

input, select, textarea {
    margin: 10px 5px;
    padding: 5px;
}

textarea {
    margin: 10px 5px -5px;
    padding: 5px;
    width: 50%;
}

select {
    width: 53%;
}

input, select, textarea {
    margin: 0px 5px 15px;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group {
    display: inline-block;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    color: #718096;
}

.form-group label{
    font-weight: bold;
    flex: 1 0 0;
    max-width: 25%;
    font-size: 1.25rem;
}

.form-group label.radio{
    flex: none;
    font-weight: normal;
    margin-right: 5px;
}

.form-group input{
    flex: 2 0 0;
    align-self: flex-start;
    max-width: 50%;
}

.input-group label{
    font-weight: normal;
}

.submit {
    margin-top: 50px;
}

.submit button {
    display: block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    width: 50%;
    outline: none !important;
}

.submit button:hover {
    cursor: pointer;
    background-color: #a0b3cd;
    color: white;
}